@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;0,700;1,400;1,700&display=swap");
/* ------------SIMPLE RESETS----------- */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

button:focus {
  outline: none;
}

a {
  font-style: none;
  text-decoration: none;
}

ul {
  list-style: none;
}

/* ------------GLOBAL------------------ */

:root {
  font-size: 16px;
  --main-light: rgb(223, 225, 229);
  --main-dark: rgb(123, 125, 129);
  --accent: rgb(0, 120, 215);
  --accent-light: rgb(51, 163, 255);
  --accent-dark: rgb(0, 56, 102);
  --light-text: rgb(255, 255, 255);
  --delete: rgb(90, 21, 2);
  --delete-light: rgb(199, 47, 5);
}

html {
  display: grid;
  place-items: center;
}

body {
  font-family: "Lato", "Segoe UI", Tahoma, sans-serif;
}

/* ------------Utils-------------------------- */

.button {
  font-size: 1rem;
  background: none;
  border: 1px solid var(--main-light);
  padding: 0.1rem 0.5rem;
  transition: 100ms;
}

.button:hover {
  cursor: pointer;
  background: var(--accent-dark);
  border: 1px solid var(--main-dark);
  color: var(--light-text);
  outline: none;
  box-shadow: 0 5px 6px -6px rgba(32, 33, 36, 0.28);
}

.button:active {
  background: var(--main-dark);
}

.input,
.select {
  font-size: 1rem;
  padding: 0.3rem 0.5rem;
  border: 1px solid var(--main-light);
  transition: all 0.05s;
}

.input:hover,
.input:active,
.input:focus,
.input:focus-within,
.select:hover,
.select:active,
.select:focus {
  box-shadow: 0 5px 6px -6px rgba(32, 33, 36, 0.28);
  outline: none;
  border: 1px solid var(--main-light);
}

/* ------------AppContainer------------------- */

.main-container {
  height: 100vh;
  width: 100vw;
  display: grid;
  place-items: center;
  transition: all 0.5s;
}

.app-container {
  display: grid;
  grid-template-rows: repeat(3, auto);
  margin: 0 auto;
  padding-top: 1rem;
  min-width: 350px;
  max-width: 500px;
  transition: all 1s;
  grid-gap: 1rem;
}

.title {
  text-align: center;
  font-size: 1.8rem;
}

/* ------------ListController---------------- */

.list-controller {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 1rem;
  padding: 1rem 0;
  border-bottom: 1px solid var(--main-light);
}

/* ------------TaskInput--------------------- */

.task-input-container {
  display: grid;
  grid-template-columns: 1fr auto;
}

/* ------------TaskFilter-------------------- */

.task-filter-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 0.5rem;
}

/* ------------TaskFilterSelector------------ */

.task-select-container {
  display: grid;
  grid-template-columns: auto 1fr;
  grid-gap: 0.25rem;
  align-items: center;
}

/* ------------TaskListItem------------------ */

.task-list-item {
  width: 100%;
  display: grid;
  grid-template-columns: auto 1fr auto;
  align-items: center;
  grid-gap: 1rem;
  padding: 0.35rem 0;
  border-bottom: 1px dotted var(--main-light);
}

.checkbox-container {
  border: 1px solid var(--main-light);
  border-radius: 3px;
  width: 1.3rem;
  height: 1.3rem;
  z-index: 1;
  transition: all 0.05s;
}

.checkbox-container:hover {
  border: 1px solid var(--main-dark);
}

.checkbox-checked {
  background-color: var(--accent-dark);
  border: 1px solid var(--accent-dark);
}

.task-list-checkbox {
  opacity: 0;
  cursor: pointer;
  z-index: 100;
  height: inherit;
  width: inherit;
}

.button-delete-task {
  height: 1.9rem;
  width: 1.9rem;
}

.button-delete-task:hover {
  background: var(--delete);
  border: var(--delete);
}

/* ------------Media------------------------- */

@media screen and (max-width: 600px) {
  .title {
    font-size: 1.4rem;
  }
  .app-container {
    padding: 0.5rem;
  }
  .app-container,
  .list-controller,
  .task-filter-container,
  .task-list-item {
    grid-gap: 0.5rem;
  }
  .task-list-name {
    max-width: 90%;
    max-height: 10vh;
    overflow: auto;
  }
  .task-filter-container {
    grid-template-columns: 1fr;
  }
}
